<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Rondi Track</title>
    <link rel="shortcut icon" href="/img/logo3.png" type="image/x-icon" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/uyj3jzg.css" />
    <script
      src="https://kit.fontawesome.com/eca9e52a79.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="module" src="/scripts/login.js"></script>
    <style>
      .error-message {
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 100%;
        color: red;
        font-size: 0.8em;
        text-align: center;
      }
      .input-container {
        position: relative; /* Es importante para que el error se posicione relativo a su input */
        margin-bottom: 25px; /* Ajusta este margen para dar espacio al error debajo del input */
      }
      .unauthorized-error {
        color: red;
        font-size: 0.8em;
        text-align: center;
        margin-bottom: 10px; /* Espacio entre el error y el formulario */
      }
    </style>
  </head>
  <body>
    <section class="one-section">
      <img src="/img/logo3.png" alt="" class="os-img" />
      <div class="os-div">
        <p class="os-p">Login</p>
        <div id="unauthorized-error" class="unauthorized-error"></div>
        <form method="POST" id="login" class="login">
          <div class="input-container">
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Email"
              required
            />
            <i class="fas fa-user input-icon"></i>
            <div id="email-error" class="error-message"></div>
          </div>
          <div class="input-container">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
              required
            />
            <i class="fas fa-key input-icon"></i>
            <div id="password-error" class="error-message"></div>
          </div>

          <button type="submit" class="login-btn">Login</button>
        </form>
      </div>
    </section>
  </body>
</html>
