<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Rondi Track</title>
    <link rel="shortcut icon" href="/img/logo3.png" type="image/x-icon" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/uyj3jzg.css" />
    <script
      src="https://kit.fontawesome.com/eca9e52a79.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="one-section">
      <img src="/img/logo3.png" alt="" class="os-img" />
      <div class="os-div">
        <p class="os-p">Login</p>
        <form action="/oauth/v1/login" method="POST" id="login" class="login">
          <div class="input-container">
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Email"
              required
            />
            <i class="fas fa-user input-icon"></i>
          </div>
          <div class="input-container">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
              required
            />
            <i class="fas fa-key input-icon"></i>
          </div>
          <button type="submit" class="login-btn">Login</button>
        </form>
      </div>
    </section>
  </body>
</html>
